*{
    margin: 0;
    padding: 0;
    
}
.wrap{
    
    width: 95%;
    margin:auto;

}
header.wrap {
    padding-top: 10.5rem;
    padding-bottom: 6rem;

}


.depa-list{
    
    background-color: #fff;
    margin-top: 50px;
    padding: 1% 1%;
    border: #ccc 2px solid;
    border-radius: 5px;
}
.depa-item{
    padding: 0% 0%;
    background-color: #fff;
  
   
}
input, select{
    font-size: 20px;
    width: 60%;
    padding: 10px;
    border: gray 1px solid;
}
.input-contenedor{
    text-align: center;
    display: inline-block;
    width: 27%;
    height:auto!important;
}
.aserv{
    border: gray 1px solid;
    padding: 8px 12px;
    margin:0px 0px 0.5% 0px;
    position: relative;
    text-align: center;
    color: black; 
    display:inline-block;
}
.tituloaa{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
    width: 30%;
    margin-left: 1px;
    
    
}
.contenedor{
    width: 100%;
    padding: 15px;
    text-align: left;
}


.fotoaa{
    display: inline-block;
    width: 30%;
    padding-left: 2px;
  
    
}
.input-contenedor{
    margin-bottom: 5px;
    
    
}
.store-wrapper{
    display: flex;
    
}
.texto{
    display: inline;
    background-color:red;

    
}
.txt-opciones{
    font-size:20px;
    margin-bottom:0%;
}
.cont-seleccion{
    display:inline-block;
    padding:1%;
    background-color:#ddd;
    border-radius:5px;
    margin:0% 1% 1% 0%;
    width:24%;
}
.t-seleccion{
    margin:0px;
}
.l-seleccion{
    border-color:#000;
    margin: 0px 0px 3px 0px;
}
.txt-seleccion, .subt-seleccion{
    margin:0% 0% 1% 0%;
}
.txt-seleccion{
    color:#000;
}
.subt-seleccion{
    color:#666;
}
.txt-costo{
    display:inline-block;
    margin-left:10%;
}