*{
    margin: 0;
    padding: 0;
    
}
.imagen-servicio img:hover {
    -webkit-clip-path:inset(1rem);
    clip-path:inset(1rem);
}

#page-top{
color: #000 !important;
background-color:#f8f9fa !important;
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center center;
background-size: cover;
    
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
.wrap{
    
    width: 90%;
    margin:auto;

}

/*Categoria depa*/

.category-list .img{
    
   
    
}
.row
{
    background-color: #fff;
    border: 1px solid #ccc;  border-radius: 5px;
    /*border: #ccc 2px solid;
*/
   
}
.row>*
{
    
}

.palabras{
    background-color: darkcyan;
    display: inline-block;
    color: black;
}
/*Departamentos*/
.depa-list{
   
    background-color: #fff;


}
.depa-item{
    padding: 0% 0%;
    background-color: #fff;
  
   
}

.depa-itema{
    background-color: wheat;
}
.tituloaa{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
    width: 60%;
    margin-left: 15px;
    
}
.detail{
   
    width: 25.7%;
    float: right;
    padding: 15px 0;
    margin-bottom: 20px;
    background-color: #1d809f;
    text-align: center;
    color: #fff; 

    
    
    
}

.titulos, .palabras, .detail{
    display: inline-block;
    vertical-align: top;
   
}





